/* Coolors Exported Palette - coolors.co/252323-70798c-f5f1ed-dad2bc-a99985 */

/* HSL */
$color1: hsla(0%, 3%, 14%, 1);
$color2: hsla(221%, 11%, 49%, 1);
$color3: hsla(30%, 29%, 95%, 1);
$color4: hsla(44%, 29%, 80%, 1);
$color5: hsla(33%, 17%, 59%, 1);

/* RGB */
$color1: rgba(37, 35, 35, 1);
$color2: rgba(112, 121, 140, 1);
$color3: rgba(245, 241, 237, 1);
$color4: rgba(218, 210, 188, 1);
$color5: rgba(169, 153, 133, 1);