/* GRADIENTES */

@mixin gradiente1 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70798c+1,708c91+100 */
	background: rgb(112,121,140); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(112,121,140,1) 1%, rgba(112,140,145,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(112,121,140,1) 1%,rgba(112,140,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(112,121,140,1) 1%,rgba(112,140,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70798c', endColorstr='#708c91',GradientType=0 ); /* IE6-9 */
}